body {
	background-color: #FFEBCD;
	margin: 0;
    padding: 0;
	line-height: 1.5;
	text-align: center;
	padding-top: 200px;
}
header {
	position: fixed;
	background-image: url("Slike_vrt/Slik_vrt6.jpg");
	background-size: cover;
	top: 0;
	left: 0;
	height: 150px;
	width: 100%;
	background-color: green;
	background-image: "slika";
	text-align: center;
	z-index: 10;
	opacity: 0.8;
	
}


footer {

	width: 100%;
	height: 20vh;
	background-color: #FFF8DC;
	box-sizing: border-box;
	text-align: center;
	font-family: "Goudy Old Style";
}
menu {
	
	color: white;
	justify-content: center;
	background-color: black;
	width: 100vw;
}

p {
	font-family: "Century Gothic";
	text-align: center;
	font-size: 15px;
	padding-left: 140px;
	padding-right: 140px;
}
h1 {
	font-size: 40px;
	font-family: "Franklin Gothic Medium";
	color: white;
	vertical-align: middle;
}
h2 {
	font-size: 30px;
	font-family: "Geneva";
}
img {
	border-radius: 15%;
	height: auto;
	width: 15vw;
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 30px;
	padding-right: 30px;
	
} 
ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
}
li {
  padding: 0 40px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: red;
}